<a href="https://colab.research.google.com/github/Hariharan-4343/FILRS/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1)

In [ ]:
import math
radius = 3
area = math.pi * radius * radius
print(area)

28.274333882308138

2)

In [ ]:
name = "Anisha"
roll_number = 21
mark = 78

print("Name:", name)
print("Roll No:", roll_number)
print("Mark:", mark)()

Name: Anisha
Roll No: 21
Mark: 78

3)

In [16]:
number=[12,3,47,10]
m=max(number)
print(m,'is the largest number')

47 is the largest number

4)

In [17]:
n=[1,2,3,4,5,6,7,8,9,10]
previous_num=0
for i in range(0,len(n)):
  sum=i + previous_num
  print('current number:',i)
  print('previous number:',previous_num)
  print('sum',sum)
  previous_num=i

current number: 0
previous number: 0
sum 0
current number: 1
previous number: 0
sum 1
current number: 2
previous number: 1
sum 3
current number: 3
previous number: 2
sum 5
current number: 4
previous number: 3
sum 7
current number: 5
previous number: 4
sum 9
current number: 6
previous number: 5
sum 11
current number: 7
previous number: 6
sum 13
current number: 8
previous number: 7
sum 15
current number: 9
previous number: 8
sum 17

5)

In [21]:
l = [10,20,33,46,55]
result = list(filter(lambda x: x % 5 == 0,l))
print('the numbers divisible by 5 are', result)

the numbers divisible by 5 are [10, 20, 55]

6)

In [18]:
num=int(input('enter a number'))
if num>1:
  for i in range(2,num):
    if (num%i) == 0:
      print(num,"is not a prime number")
      break
  else:
      print(num,'number is a prime number')
else:
  print(num,"not a prime number")

enter a number3
3 number is a prime number

7)

In [19]:
orginal_list=[10,40,30,70]
reverse_list=[]
for i in range(1,len(orginal_list)+1):
  reverse_list.append(orginal_list[-i])

print(reverse_list)

[70, 30, 40, 10]

8)

In [ ]:
for i in range(1,6):
  for j in range(1, i+1):
    print("*", end="")
  print()

*
**
***
****
*****

9)

In [20]:
num1=float(input('enter the first number'))
num2=float(input('enter the second number'))
num3=float(input('enter the third number'))

if (num1>num2 and num1>num3):
  print(num1,"is greater")
elif(num2>num1 and num2>num3):
    print(num2,'is greater')
else:
  print(num3,'is greater')

enter the first number34
enter the second number12
enter the third number7
34.0 is greater

10)

In [12]:
n=5
for i in range (0,n):
    for j in range(0,i+1):
          print('* ',end="")
    print('')
for i in range (n-2,0,-1):
  for j in range(0,i+1):
          print('* ',end="")
  print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *