<a href="https://colab.research.google.com/github/Hariharan-4343/FILRS/blob/main/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
n=input('enter a string:').lower()
s={}
for i in n:
  if i in s:
    s[i]+=1
  else:
    s[i]=1
print(s)

enter a string:assembly
{'a': 1, 's': 2, 'e': 1, 'm': 1, 'b': 1, 'l': 1, 'y': 1}

2)

In [2]:
num1=float(input('enter the first number'))
num2=float(input('enter the second number'))
num3=float(input('enter the third number'))

if (num1>num2 and num1>num3):
  print(num1,"is greater")
elif(num2>num1 and num2>num3):
    print(num2,'is greater')
else:
  print(num3,'is greater')

enter the first number34
enter the second number12
enter the third number7
34.0 is greater

3)

In [16]:
def exponent(base,exp):
  s=base**exp
  print(s)



base=int(input('enter the base'))
exp=int(input('enter the exponent'))
exponent(base,exp)

enter the base2
enter the exponent38
274877906944

4)

In [9]:
def postive_number(num):
  cubes=0
  for i in range (1,num):
    cubes=+ i**3
  print(cubes)
  positive_number(4)

5)

In [10]:
n=11
for i in range (1,n):
  if i%2==0:
    print('Fizz')
  elif (i%5==0):
    print('Buzz')
  elif(i%2==0 and i%5==0):
    print('fizzBuzz')
  else:
    print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
Fizz

6)

In [11]:
n=[2,3,4,2,5,2]
max=0
res=n[0]
for i in n:
  freq=n.count(i)
  if freq>max:
    max=freq
    res=i

print(res)

2

7)

In [12]:
n=[2,1,3,1]
res=0
for i in n:
  res= res + i**2

print(res)

15

8)

In [13]:
n=15
for i in range (1,n+1):
  if i%2==0:
    print(i,'-even')
  elif (i%3==0):
    print(i,'-odd')
  else:
    print(i)

1
2 -even
3 -odd
4 -even
5
6 -even
7
8 -even
9 -odd
10 -even
11
12 -even
13
14 -even
15 -odd

9)

In [14]:
print("Options are \n")
print("1.Convert temperatures from Celsius to Fahrenheit \n")
print("2.Convert temperatures from Fahrenheit to Celsius \n")
opt=int(input("Choose any Option(1 or 2) : "))
if opt == 1:
    print("Convert temperatures from Celsius to Fahrenheit \n")
    cel = float(input("Enter Temperature in Celsius: "))
    fahr = (cel*9/5)+32
    print("Temperature in Fahrenheit =",fahr)
elif opt == 2:
    print("Convert temperatures from Fahrenheit to Celsius \n")
    fahr = float(input("Enter Temperature in Fahrenheit: "))
    cel=(fahr-32)*5/9;
    print("Temperature in Celsius =",cel)
else:
    print("Invalid Option")

Options are

1.Convert temperatures from Celsius to Fahrenheit

2.Convert temperatures from Fahrenheit to Celsius

Choose any Option(1 or 2) : 1
Convert temperatures from Celsius to Fahrenheit

Enter Temperature in Celsius: 5.0
Temperature in Fahrenheit = 41.0

10)

In [15]:
def factorial(num):
  fact=1
  for i in range(1,num+1):
    if num<0:
      print('not valid')
    elif(num>1):
      fact=fact*i
  print(fact)